body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebffd2;
    color: #000;
}

header {
    background-color: #287e1c;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #599e4a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #89be77;
    display: inline-block;
    transition: transform 0.3s, background-color 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    background-color: #badfa5;
}

main {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #287e1c;
}

footer {
    background-color: #89be77;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
